/* This is for the primary, secondary and  tetiary colours */
:root {
    --primary-color: #E67E22;  
    --secondary-color: #C0392B; 
    --tertiary-color: #F9E79F;  
}


body{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }
  